@media screen and (min-width:441px) and (max-width:991px){
   .container{
      width:99%;
   }
   .right{
      display: none;
   }
   .left{
      width:37%;
   }
   .center{
      width:63%
   }

}